:host{
    ion-title{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    
    ion-list-header{
        font-weight: normal;
        font-size: 14px;
    }

    .footer_div{
        text-align: center;
    }
}