<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>View Quote</ion-title>
    

    <ion-buttons slot="primary">
      <ion-button (click)="refreshPage()"><ion-icon name="reload-outline"></ion-icon></ion-button>
        <ion-button (click)="gotoChat()">
        <ion-icon slot="icon-only" name="notifications" >
        <span><ion-badge class="badgeIconNew badgeIcon" *ngIf="notificationCount !== '0'" item-end >{{ notificationCount }}</ion-badge></span>
        </ion-icon>
        </ion-button>
        <ion-button (click)="moveToTask()">
          <ion-icon name="calendar-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

  </ion-toolbar>
<ion-searchbar
  #inputSearch
  (ionClear)="cancelled()" (input)="getItems(this.viewquotetabs, inputSearch.value)" (ionCancel)="cancelled()">
</ion-searchbar>
<div>
  <ion-segment [(ngModel)]="viewquotetabs" (ionChange)="getViewQuote(this.viewquotetabs, searchStr, $event)" value="allquote">
    <ion-segment-button value="allquote" >
      All Quotes
    </ion-segment-button>
    <ion-segment-button value="bookedquote">
      Booked
    </ion-segment-button>
    <!-- <ion-segment-button value="previewtab">
      Preview
    </ion-segment-button> -->
  </ion-segment>
</div>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label class="sorting_label" floating>Sort By</ion-label>
    <ion-select class="sorting_select" [(ngModel)]="filterquote" [value]="this.filterquote" (ionChange)="filterQuoteData($event)" >
      <ion-select-option value="1">Quote Date - ASC</ion-select-option>
      <ion-select-option value="2">Quote Date - DESC</ion-select-option>
      <ion-select-option value="3">Job Date - ASC</ion-select-option>
      <ion-select-option value="4">Job Date - DESC</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="newjob_content" [ngSwitch]="viewquotetabs">
   
      <div *ngSwitchCase="'allquote'">
          <span *ngIf="!defaultData?.length === true; then noNewJobs; else showNewJobs"></span>
          <ng-template #noNewJobs>
              <ion-card class="dumm card">
                <ion-card-content class="card-content">
                  <ion-icon name="close-circle-outline" class="no-jobs"></ion-icon>
                  <span class="noting-found">No Quote Found</span>
                </ion-card-content>
              </ion-card>
          </ng-template>
    
          <ng-template #showNewJobs>
        <span *ngFor="let newJobs of defaultData">
            <!-- {{ newJobs | json }} --> 
            <ion-card class="dumm card">
              <ion-card-content class="card-content">
                <div class="listingSection">
                  <!-- {{ newJobs.jobID }} -->   
                  <div class="leftBox">
                    <div class="listingLeft">
                      <span *ngIf="newJobs.created_for_id == 2" class="color_blue">L</span>
                      <span *ngIf="newJobs.created_for_id == 3" class="color_green">M</span>
                      <span *ngIf="newJobs.created_for_id == 4" class="color_orange">P</span>
                      <span class="jobId">Q#{{ newJobs.qid }}</span>
                      <span class="jobId" *ngIf="newJobs.booking_id != 0" >J#{{ newJobs.booking_id }}</span>
                      <!-- <span>{{ newJobs.created_for }}</span> -->
                      <span class="amount" *ngIf="staff_type_global !== 2">
                        <span class="amt">$</span>
                        <!-- {{ newJobs.amount_staff }} | {{ newJobs.amount_total }} -->
                        {{ newJobs.amount }}
                      </span>
                      <span class="preLine dateTime">
                        <span class="opacityLow">{{ newJobs.booking_date | date:'dd LLL yy' }}</span>
                        <!-- <span class="dates">{{ newJobs.reclean_time }}</span> -->
                      </span>
                    </div>
                  </div>

                  <div class="rightBox">
                    <div class="listingRight">
                      <strong class="title-card">{{ newJobs.name }}</strong>
                      <p class="microSpace" [hidden]="!newJobs.email"><ion-icon class="ion_mail" name="mail"></ion-icon>{{ newJobs.email }}</p>
                      <ul class="jobType">
                        <li>
                          {{ newJobs.ds }}
                        </li>
                      </ul>
                      <p class="microSpace" [hidden]="!newJobs.address">
                          <ion-icon class="ion_pin" name="pin"></ion-icon>{{ newJobs.address }}</p>
                          <span class="mid-area">
                      <p [hidden]="!newJobs.suburb">
                        <ion-icon class="ion_link" name="link"></ion-icon>{{ newJobs.suburb }}, {{ newJobs.postcode }}</p>
                      <div class="plus_add_main dropdown" [hidden]="!newJobs.phone">
                        <a href="javascript:void(0)" (click)="callToCustomer(newJobs.phone, newJobs.qid)"  class="callMe">
                            <ion-icon name="call"></ion-icon>{{ newJobs.phone }} </a>
                      </div> 
                    </span>
                    </div>
                  </div>
                </div>

                <div class="card_footer">
                  
                  <ion-tab-button (click)="sendQuoteEmail(newJobs.qid)">
                    <ion-icon class="icon_img" name="mail"></ion-icon>
                    <ion-label class="btn-text">Email</ion-label>
                  </ion-tab-button>



                  <ion-tab-button tab="Edit" layout="icon-top" (click)="createQuoteFn(newJobs.qid)">
                    <ion-icon class="icon_img" name="create"></ion-icon>
                    <ion-label>Edit</ion-label>
                  </ion-tab-button> 
              
                  <ion-tab-button tab="SMS" layout="icon-top" (click)="getsmsdata(newJobs.qid, newJobs.phone)">
                    <ion-icon class="icon_img" name="send"></ion-icon>
                    <ion-label>SMS</ion-label>
                  </ion-tab-button>

                  <ion-tab-button tab="Book" layout="icon-top" *ngIf="newJobs.booking_id == '0'" (click)="moveToPayment(newJobs.qid, newJobs.amount)">
                    <ion-icon class="icon_img" name="alert-circle"></ion-icon>
                    <ion-label>Book</ion-label>
                  </ion-tab-button>

                  <ion-tab-button tab="Paid" layout="icon-top" *ngIf="newJobs.booking_id != '0'">
                    <ion-icon class="icon_img" name="alert-circle"></ion-icon>
                    <ion-label>Paid</ion-label>
                  </ion-tab-button>

                  <ion-tab-button tab="Notes" layout="icon-top" (click)="moveToNotes(newJobs.qid)">
                    <ion-icon class="icon_img" name="clipboard"></ion-icon>
                    <ion-label>Notes</ion-label>
                  </ion-tab-button>

             
                  <ion-buttons>
                      <!--<ion-button (click)="sendQuoteEmail(newJobs.qid)"><ion-icon name="mail"></ion-icon><span class="btn-text">Email</span></ion-button>
                      <ion-button (click)="createQuoteFn(newJobs.qid)"><ion-icon name="create"></ion-icon><span class="btn-text">Edit</span></ion-button>
                      <ion-button (click)="getsmsdata(newJobs.qid, newJobs.phone)"><ion-icon name="send"></ion-icon><span class="btn-text">SMS</span></ion-button>
                      <ion-button *ngIf="newJobs.booking_id == '0'" (click)="moveToPayment(newJobs.qid, newJobs.amount)"><ion-icon name="alert-circle"></ion-icon><span class="btn-text">Book</span></ion-button>
                      <ion-button *ngIf="newJobs.booking_id != '0'"><ion-icon name="alert-circle"></ion-icon><span class="btn-text">Paid</span></ion-button>
                      <ion-button (click)="moveToNotes(newJobs.qid)"><ion-icon name="clipboard"></ion-icon><span class="btn-text">Notes</span><span *ngIf="newJobs.unread_notes > 0" class="notes_cnt">{{newJobs.unread_notes}}</span></ion-button>-->
                    </ion-buttons>
                </div>

              </ion-card-content>
            </ion-card>
          </span>
          </ng-template>
        </div>

          <div *ngSwitchCase="'bookedquote'">
              <span *ngIf="!defaultData?.length === true; then noNewJobs; else showNewJobs"></span>
              <ng-template #noNewJobs>
                  <ion-card>
                    <ion-card-content>
                      <ion-icon name="close-circle-outline" class="no-jobs"></ion-icon>
                      <span class="noting-found">No Quote Found</span>
                    </ion-card-content>
                  </ion-card>
              </ng-template>
        
              <ng-template #showNewJobs>
          <span *ngFor="let newJobs of defaultData">
              <!-- {{ newJobs | json }} -->
              <ion-card class="dumm card" >
                <ion-card-content class="card-content">
                  <div class="listingSection">
                    <!-- {{ newJobs.jobID }} -->
                    <div class="leftBox">
                      <div class="listingLeft">
                        <span *ngIf="newJobs.created_for_id == 2" class="color_blue">L</span>
                        <span *ngIf="newJobs.created_for_id == 3" class="color_green">M</span>
                        <span *ngIf="newJobs.created_for_id == 4" class="color_orange">P</span>
                        <span class="jobId">Q#{{ newJobs.qid }}</span>
                        <span class="jobId" *ngIf="newJobs.booking_id != 0">J#{{ newJobs.booking_id }}</span>
                        <!-- <span>{{ newJobs.created_for }}</span> -->
                        <span class="amount" *ngIf="staff_type_global !== 2">
                          <span class="amt">$</span>
                          <!-- {{ newJobs.amount_staff }} | {{ newJobs.amount_total }} -->
                          {{ newJobs.amount }}
                        </span>
                        <span class="preLine dateTime">
                          <span class="opacityLow">{{ newJobs.booking_date | date:'dd LLL yy' }}</span>
                          <!-- <span class="dates">{{ newJobs.reclean_time }}</span> -->
                        </span>
                      </div>
                    </div>

                    <div class="rightBox">
                      <div class="listingRight">
                        <strong class="title-card">{{ newJobs.name }}</strong>
                        <p class="microSpace" [hidden]="!newJobs.email"><ion-icon class="ion_mail" name="mail"></ion-icon>{{ newJobs.email }}</p>
                        <ul class="jobType">
                          <li *ngFor="let ds of newJobs.ds">{{ ds }}</li>
                        </ul>
                        <p class="microSpace" [hidden]="!newJobs.address">
                            <ion-icon class="ion_pin" name="pin"></ion-icon>{{ newJobs.address }}</p>
                            <span class="mid-area">
                        <p [hidden]="!newJobs.suburb">
                          <ion-icon class="ion_link" name="link"></ion-icon>{{ newJobs.suburb }}, {{ newJobs.postcode }}</p>
                        <div class="plus_add_main dropdown" [hidden]="!newJobs.phone">
                          <a href="javascript:void(0)" (click)="callToCustomer(newJobs.phone, newJobs.qid)"  class="callMe">
                              <ion-icon name="call"></ion-icon>{{ newJobs.phone }} </a>
                        </div> 
                      </span>
                      </div>
                    </div>
                  </div>
    
                  <!-- <div class="card_footer">
                    <ion-buttons>
                      <button (click)="sendQuoteEmail(newJobs.qid)"><ion-icon name="mail" ios="ios-mail" md="md-mail"></ion-icon><span class="btn-text">Email</span></button>
                        <button (click)="createQuoteFn(newJobs.qid)"><ion-icon name="create" ios="ios-create" md="md-create"></ion-icon><span class="btn-text">Edit</span></button>
                        <button (click)="getsmsdata(newJobs.qid)"><ion-icon name="send" ios="ios-send" md="md-send"></ion-icon><span class="btn-text">SMS</span></button>
                        <button (click)="moveToPayment(newJobs.qid)"><ion-icon name="alert" ios="ios-alert" md="md-alert"></ion-icon><span class="btn-text">Book Now</span></button>
                        <button (click)="moveToNotes(newJobs.qid)"><ion-icon name="clipboard"></ion-icon><span class="btn-text">Notes</span></button>
                      </ion-buttons>
                  </div>   -->

                  <div class="card_footer">

                    <ion-tab-button (click)="sendQuoteEmail(newJobs.qid)">
                      <ion-icon class="icon_img" name="mail"></ion-icon>
                      <ion-label class="btn-text">Email</ion-label>
                    </ion-tab-button>
  
  
  
                    <ion-tab-button tab="Edit" layout="icon-top" (click)="createQuoteFn(newJobs.qid)">
                      <ion-icon class="icon_img" name="create"></ion-icon>
                      <ion-label>Edit</ion-label>
                    </ion-tab-button> 
                
                    <ion-tab-button tab="SMS" layout="icon-top" (click)="getsmsdata(newJobs.qid, newJobs.phone)">
                      <ion-icon class="icon_img" name="send"></ion-icon>
                      <ion-label>SMS</ion-label>
                    </ion-tab-button>
  
                    <ion-tab-button tab="Book" layout="icon-top" *ngIf="newJobs.booking_id == '0'" (click)="moveToPayment(newJobs.qid, newJobs.amount)">
                      <ion-icon class="icon_img" name="alert-circle"></ion-icon>
                      <ion-label>Book</ion-label>
                    </ion-tab-button>
  
                    <ion-tab-button tab="Paid" layout="icon-top" *ngIf="newJobs.booking_id != '0'">
                      <ion-icon class="icon_img" name="alert-circle"></ion-icon>
                      <ion-label>Paid</ion-label>
                    </ion-tab-button>
  
                    <ion-tab-button tab="Notes" layout="icon-top" (click)="moveToNotes(newJobs.qid)">
                      <ion-icon class="icon_img" name="clipboard"></ion-icon>
                      <ion-label>Notes</ion-label>
                    </ion-tab-button>
  


                    <!--<ion-buttons>
                        <button (click)="sendQuoteEmail(newJobs.qid)"><ion-icon name="mail" ios="ios-mail" md="md-mail"></ion-icon><span class="btn-text">Email</span></button>
                        <button (click)="createQuoteFn(newJobs.qid)"><ion-icon name="create" ios="ios-create" md="md-create"></ion-icon><span class="btn-text">Edit</span></button>
                        <button (click)="getsmsdata(newJobs.qid, newJobs.phone)"><ion-icon name="send" ios="ios-send" md="md-send"></ion-icon><span class="btn-text">SMS</span></button>
  
                        <button *ngIf="newJobs.booking_id == '0'" (click)="moveToPayment(newJobs.qid, newJobs.amount)"><ion-icon name="alert" ios="ios-alert" md="md-alert"></ion-icon><span class="btn-text">Book</span></button>
                        <button *ngIf="newJobs.booking_id != '0'"><ion-icon name="alert" ios="ios-alert" md="md-alert"></ion-icon><span class="btn-text">Paid</span></button>
  
                        <button (click)="moveToNotes(newJobs.qid)"><ion-icon name="clipboard"></ion-icon><span class="btn-text">Notes</span><span *ngIf="newJobs.unread_notes > 0" class="notes_cnt">{{newJobs.unread_notes}}</span></button>
                      </ion-buttons>-->
                  </div>

                </ion-card-content>  
              </ion-card>
            </span>
            </ng-template>
          </div>

  </div>
</ion-content>
